{{#if (isMoreThanTarget totalPages 1)}}
<div class="pagination-container">
  <ul class="pagination-list">
    {{#with (paginatorArray totalPages page) as |paginatorPages|}}
    <!--prev page-->
    {{#if (isNotSame 1 ../page)}}
    <li class="pagination-item">
      <a
        href="/{{../model}}?page={{add ../page -1}}&limit={{../limit}}&keyword={{../keyword}}&column={{../column}}{{#if (isSame ../sortDirection 'ASC')}}&ascending=on{{/if}}"
        aria-label="previous page"
      >
        <i class="fa-solid fa-caret-left"></i>
      </a>
    </li>
    {{/if}}
    <!--all pages-->
    {{#each paginatorPages}} {{#if (isSame this ../../page)}}
    <li class="pagination-item disable">
      <a href="/{{../../model}}?page={{this}}&limit={{../../limit}}&keyword={{../../keyword}}&column={{../../column}}{{#if (isSame ../../sortDirection 'ASC')}}&ascending=on{{/if}}">{{this}}</a>
    </li>
    {{else}}
    <li class="pagination-item">
      <a href="/{{../../model}}?page={{this}}&limit={{../../limit}}&keyword={{../../keyword}}&column={{../../column}}{{#if (isSame ../../sortDirection 'ASC')}}&ascending=on{{/if}}">{{this}}</a>
    </li>
    {{/if}} {{/each}}
    <!--next page-->
    {{#if (isNotSame (lastArrayItem paginatorPages) ../page)}}
    <li class="pagination-item">
      <a href="/{{../model}}?page={{add ../page 1}}&limit={{../limit}}&keyword={{../keyword}}&column={{../column}}{{#if (isSame ../sortDirection 'ASC')}}&ascending=on{{/if}}" aria-label="next page">
        <i class="fa-solid fa-caret-right"></i>
      </a>
    </li>
    {{/if}} {{/with}}
  </ul>
  <!--total pages-->
  <p class="totalPageInfo">{{page}}/{{totalPages}}</p>
</div>
{{/if}}
