<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-3">
  <div class="card project-card">
    <!--top-->
    <div class="card-top">
      <div class="card-cover-div image-load load-pulse"><img class="card-cover" src="{{this.coverSmall}}" alt="Card image" loading="lazy" /></div>
    </div>
    <!--middle-->
    <div class="card-middle">
      <div class="card-project-top">
        <!--project title-->
        <p class="project-card-title ellipsis">{{this.title}}</p>
        <!--user info-->
        <div class="project-card-user-div">
          <div class="project-card-avatar-div">
            <a href="/users/{{this.user.id}}">
              <img class="card-avatar-img" src="{{this.user.avatarSmall}}" alt="avatar" loading="lazy" />
            </a>
          </div>
          <div class="project-card-name-date-div">
            <a class="project-card-name-href" href="/users/{{this.user.id}}">
              <p class="project-card-name ellipsis">{{this.user.name}}</p>
            </a>
            <p class="project-card-date ellipsis">{{simpleDate this.date}}</p>
          </div>
        </div>
      </div>
      <p class="project-card-middle-description">{{substring this.description 70}}</p>
      <div class="card-middle-skills card-skills-scroll-x">
        {{#each this.skills}}
        <span class="card-skill">{{this.name}}</span>
        {{/each}}
      </div>
    </div>
    <!--bottom-->
    <div class="card-bottom">
      <a href="/projects/{{this.id}}" class="color-white card-bottom-portfolio-btn btn-move  {{#if (isSame currentUser.id this.user.id)}}black-background{{/if}}">
        {{#if (isSame currentUser.id this.user.id)}}My Project{{else}}Project{{/if}}
      </a>
      <div class="card-bottom-right">
        <div class="card-portfolio-visit">
          <i class="fa-regular fa-eye"></i>
          <span class="px-1">{{this.visits.count}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
