<!--my project-->

<!--edit mode from-->
<form id="project-form" action="/projects/{{project.id}}?_method=PUT" method="post" enctype="multipart/form-data" style="width: 100%" novalidate>
  <div id="cover-buttons-container" class="cover-buttons-container">
    <div class="cover-buttons-set-one">
      <button type="button" id="cover-change-btn" class="cover-button"><i class="fa-regular fa-image me-2"></i>Change Cover</button>
      <button type="button" id="cover-position" class="cover-button"><i class="fa-solid fa-arrows-up-down-left-right me-2"></i>Reposition</button>
    </div>
    <div class="cover-buttons-set-two">
      <button type="button" id="cover-done-position" class="cover-button">
        <i class="fa-solid fa-check me-2"></i>
        Done
      </button>
      <button type="button" id="cover-cancel-position" class="cover-button"><i class="fa-solid fa-xmark me-2"></i>Cancel</button>
    </div>
  </div>
  <!--cover position input-->
  <input id="cover-position-input" name="coverPosition" type="hidden" value="{{project.coverPosition}}" />
  <!--cover input-->
  <input id="cover-input" class="none" name="cover" type="file" accept="image/png, image/jpeg" />
  <button id="project-form-submit" style="display: none" type="submit"></button>
  <!--main container-->
  <div class="container" style="min-height: 600px">
    <!--cover-->
    <div id="cover-input-div" class="project-cover-input-div"></div>
    <div id="cover-drag" class="cover-drag"></div>
    <div class="project-page-cover">
      <img id="cover-img" class="project-cover-img" src="{{project.cover}}" alt="project cover" style="object-position: center {{project.coverPosition}}%;" />
    </div>
    <div class="project-page-container">
      <!--project info-->
      <div class="project-page-info">
        <!--title-->
        <div class="project-page-title-container">
          <div id="project-title-display">
            <p class="project-page-title">{{project.title}}</p>
          </div>
          <!--title input-->
          <div id="project-title-input-div" class="mb-3">
            <p class="fw-bold my-2 text-primary">TITLE</p>
            <div class="ps-2">
              <input class="form-control project-title-input" name="title" type="text" value="{{project.title}}" minlength="6" maxlength="30" placeholder="title" required />
              <div class="invalid-feedback">Require 6 - 30 characters.</div>
            </div>
          </div>
        </div>
        <!--User & date-->
        <div id="project-user-date-display">
          <div class="mb-3 d-flex">
            <div class="project-user-avatar me-2">
              <a class="project-page-a" href="/users/{{project.user.id}}">
                <img src="{{project.user.avatar}}" alt="avatar" />
              </a>
            </div>
            <div class="d-flex flex-column justify-content-between py-1">
              <a class="project-page-a" href="/users/{{project.user.id}}">
                <span class="fw-bold">{{project.user.name}}</span>
              </a>
              <span class="text-secondary">{{simpleDate project.date}}</span>
            </div>
          </div>
        </div>
        <!-- date input-->
        <div id="project-date-input-div" class="mb-3">
          <p class="fw-bold my-2 text-primary">DATE</p>
          <div class="ps-2">
            <input class="form-control project-date-input" name="date" type="date" value="{{simpleDate project.date}}" required />
            <div class="invalid-feedback">Require.</div>
          </div>
        </div>
        <!--links-->
        <div id="project-links-display" class="project-links-display">
          <div class="project-links mb-2">
            {{#each project.links}}
            <span class="project-page-link">
              <a class="project-page-a" href="{{this.link}}" target="_blank">{{this.name}}</a>
              <span>|</span>
            </span>
            {{/each}}
          </div>
        </div>
        <!--links input-->
        <div id="project-links-input-div" class="project-links-input mb-3">
          <p class="fw-bold my-2 text-primary">LINKS</p>
          <!--input container-->
          <div id="project-links-input-container" class="ps-2">
            {{#each project.links}}
            <div class="project-links-input-flex">
              <div class="project-links-name">
                <input class="form-control" type="text" name="linkName" value="{{this.name}}" minlength="6" maxlength="30" placeholder="name" required />
                <div class="invalid-feedback">Require 6 - 30 characters.</div>
              </div>
              <div class="project-links-url">
                <input class="form-control" type="url" name="linkUrl" placeholder="http://www.example.com" value="{{this.link}}" required />
                <div class="invalid-feedback">Require a valid url.</div>
              </div>
              <div class="project-link-button-container">
                <button class="remove-button remove-link-button" type="button"></button>
              </div>
            </div>
            {{/each}}
          </div>
          <!--add input-->
          <div class="ps-2">
            <div id="project-links-input-sample" class="project-links-input-flex">
              <div class="project-links-name">
                <input class="form-control" type="text" name="linkName" minlength="6" maxlength="30" placeholder="name" disabled />
                <div class="invalid-feedback">Require 6 - 30 characters.</div>
              </div>
              <div class="project-links-url">
                <input class="form-control" type="url" name="linkUrl" placeholder="http://www.example.com" disabled />
                <div class="invalid-feedback">Require a valid url.</div>
              </div>
              <div class="project-link-button-container">
                <button id="add-link-button" class="add-button" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <!--description-->
        <div class="mb-2">
          <div id="project-description-display">
            <p class="project-description">{{project.description}}</p>
          </div>
          <div id="project-description-input-div">
            <p class="fw-bold my-2 text-primary">DESCRIPTION</p>
            <div class="ps-2">
              <textarea class="form-control" name="description" rows="7" cols="50" minlength="10" required>{{project.description}}</textarea>
              <div class="invalid-feedback">Require at least 10 characters.</div>
            </div>
          </div>
        </div>
        <!--skills-->
        <div id="project-skills-display">
          <div class="project-skills">
            {{#each project.skills}}
            <span class="skill-tag">{{this.name}}</span>
            {{/each}}
          </div>
        </div>
        <!--skill input--->
        <div id="project-skills-input-div" class="form-div">
          <p class="fw-bold my-2 text-primary">SKILLS</p>
          <div class="project-skills-input-window">
            {{#each allSkills}}
            <div class="form-check">
              <label class="form-check-label" for="skill{{this.id}}">
                <input id="skill{{this.id}}" name="skills" class="form-check-input" type="checkbox" value="{{this.id}}" {{#if (inArray ../project.skillsList this.id)}} checked {{/if}} /> {{this.name}}
              </label>
            </div>
            {{/each}}
          </div>
          <div class="form-text mt-2">Select skills you use in your project.</div>
        </div>
        <!--project info end-->
      </div>
      <!--project content-->
      <div id="project-content-display">
        <div class="project-page-line"></div>
        {{#each project.contents}}
        <div class="project-page-content-box">
          {{#if (isSame this.type 'image')}}
          <div class="project-content-image">
            <img src="{{this.content}}" alt="project image" onerror="this.src='/images/placeholder.png'" data-uuid="{{this.uuid}}" />
          </div>
          {{/if}} {{#if (isSame this.type 'text')}}
          <div class="project-content-text">
            {{#if (isEmptyString this.content)}}
            <br />
            {{else}}
            <p class="project-content-text-p" data-uuid="{{this.uuid}}">{{this.content}}</p>
            {{/if}}
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>
      <!--Edit Mode: content input-->
      <div id="project-content-input-div">
        <p class="fw-bold my-2 text-primary">CONTENT</p>
        <div class="project-page-line"></div>
        <div id="project-content-input-container" class="project-content-input-container">
          <!--content original--->
          {{#each project.contents}} {{#if (isSame this.type 'image')}}
          <div class="content-input-div content-image-input-div data-image" data-uuid="{{this.uuid}}">
            <div class="input-div-tool-btn"></div>
            <input class="inner-image-input none" name="content" type="file" accept="image/png, image/jpeg" data-uuid="{{this.uuid}}" data-original="true" multiple />
            <img loading="lazy" class="content-image-input-display" src="{{this.content}}" alt="content-image" onerror="this.src='/images/placeholder.png'" />
            <div class="content-image-delete-btn"></div>
          </div>
          {{/if}} {{#if (isSame this.type 'text')}}
          <div class="content-input-div data-text" data-uuid="{{this.uuid}}">
            <textarea class="content-text-input" type="text" name="content" placeholder="" rows="1" data-original="true">{{this.content}}</textarea>
            <div class="input-div-tool-btn"></div>
          </div>
          {{/if}} {{/each}}
          <!--new text input--->
          <div class="content-input-div data-text first-input new-input">
            <textarea class="content-text-input" type="text" name="content" placeholder="Enter text here..." rows="1"></textarea>
            <div class="input-div-tool-btn"></div>
          </div>
          <!---->
        </div>
      </div>
    </div>
  </div>
</form>

<!--content sample-->
<!--textarea-->
<div id="text-sample-div" class="content-input-div new-content-input data-text new-input">
  <textarea class="content-text-input" type="text" name="content" placeholder="" rows="1" disabled></textarea>
  <div class="input-div-tool-btn"></div>
</div>
<!--image input-->
<div id="image-sample-div" class="content-input-div content-image-input-div new-content-input data-image">
  <div class="content-image-input">
    <i class="fa-regular fa-image"></i>
    <p class="content-image-text">Add an image</p>
  </div>
  <div class="input-div-tool-btn"></div>
  <input class="inner-image-input none" name="content" type="file" accept="image/png, image/jpeg" disabled multiple />
  <img class="content-image-input-display none" src="" alt="content-image" />
  <div class="content-image-delete-btn"></div>
</div>

<!--input option-->
{{>input-option}}

<script type="module" src="/javascript/myProject.js"></script>
