<div class="container" style="min-height: 600px">
  <div class="portfolio-cover"></div>
  <div class="portfolio-container row">
    <!--Bio (left side) -->
    <div class="portfolio-left col-12 col-lg-6">
      <!--avatar-->
      <div class="portfolio-avatar-box border">
        <img src="{{user.avatar}}" alt="avatar" />
      </div>
      <!--name-->
      <div class="my-2">
        <h1 class="h4 fw-bold">{{user.name}}</h1>
      </div>
      <!--title-->
      <div class="my-2">
        <p class="text-info">{{user.title}}</p>
      </div>
      <!--social-->
      <div class="my-2">
        <p class="h4 fw-bold">Social</p>
        <p>social social social...</p>
      </div>
      <!--des-->
      <div class="my-2">
        <p class="h4 fw-bold">About:</p>
        <p class="portfolio-description">{{user.description}}</p>
      </div>
      <!--skills-->
      <div class="my-2">
        <p class="h4 fw-bold">Skills</p>
        <p>skills - skills - skills...</p>
      </div>
      <!--Contact-->
      <div class="my-2">
        <p class="h4 fw-bold">Contact</p>
        <p>email, phone, links...</p>
      </div>
    </div>
    <!--projects (right side)-->
    <div class="portfolio-right col-12 col-lg-6 mt-3">
      <p class="h4 fw-bold">Projects</p>
      <div class="project-container mt-2">
        <!--project block-->
        {{#if user.projects}} {{#each user.projects}}
        <div class="mb-3">
          <a class="project-link" href="#">
            <div class="project-block d-flex">
              <div class="project-image-holder col-4">
                <img src="{{this.cover}}" alt="project image" />
              </div>
              <div class="project-block-info p-2 col-8">
                <p class="project-title fw-bold mb-2">{{this.title}}</p>
                <p class="text-secondary mb-2">{{substring this.description 100}}</p>
              </div>
            </div>
          </a>
        </div>

        {{/each}} {{else}}
        <!--no project-->
        <a class="project-link" href="#">
          <div class="project-block-empty">Add your project Here +</div>
        </a>
        {{/if}}

        <!--project block end-->
      </div>
    </div>
  </div>
</div>
